<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
    <link rel="stylesheet" href="./css/lib/element-ui/index.css">
    <style>
        [v-cloak]{
            display:none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <h2>产品列表</h2>
        <el-table
                size="mini"
                :data="list"
                style="width: 100%">
            <el-table-column
                    prop="name"
                    label="名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="单价"
                    width="180">
            </el-table-column>
            <el-table-column
                    label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="success"
                            @click="addCard(scope.row)">添加到购物车</el-button>
                </template>
            </el-table-column>
        </el-table>

        <h2>购物车</h2>
        <el-table
                size="mini"
                :data="cartList"
                empty-text="购物车空空如也～～"
                style="width: 100%">
            <el-table-column
                    width="80">
                <template slot="header" slot-scope="scope">
                    <input type="checkbox" v-model="checkAll">
                </template>
                <template slot-scope="scope">
                    <input type="checkbox" v-model="scope.row.check">
                </template>
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="名称"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="单价"
                    width="80">
            </el-table-column>
            <el-table-column
                    prop="count"
                    label="数量"
                    width="80">
            </el-table-column>
            <el-table-column
                    label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="operCart('reduce',scope.row)">减</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="operCart('add',scope.row)">加</el-button>
                </template>
            </el-table-column>
        </el-table>
        <p>总价：{{total}}</p>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/lib/element-ui/index.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    list:[{
                        id:1,
                        name:'javascript',
                        price:80
                    },{
                        id:2,
                        name:'java',
                        price:100
                    },{
                        id:3,
                        name:'c++',
                        price:90
                    }],
                    cartList:[],
                    total:0
                }
            },
            computed:{
                // total(){
                //     let { cartList } = this;
                //     let total  = 0;
                //     cartList.forEach(item => {
                //         if(item.check){
                //             total = total + (item.price * item.count)
                //         }
                //     });
                //     return total
                // },
                //获取值和设置值
                checkAll:{
                    get(){
                        return this.cartList.length > 0 && this.cartList.every(item=>item.check)
                    },
                    set(newValue){
                        this.cartList.forEach(item => {
                            item.check = newValue
                        });
                    }
                }
            },
            watch:{
                cartList:{
                    handler(newVal,oldVal){
                        let cartList  = newVal;
                        let total  = 0;
                        cartList.forEach(item => {
                            if(item.check){
                                total = total + (item.price * item.count)
                            }

                        });
                        this.total = total
                    },
                    deep:true
                }
            },
            methods:{
                //添加购物车
                addCard(item){
                    let { cartList } = this;
                    let findIndex = cartList.findIndex(fItem=>{
                        return fItem.id === item.id
                    })
                    if(findIndex !== -1){
                        cartList[findIndex].count = cartList[findIndex].count + 1;
                    }else{
                        cartList.push({
                            count:1,
                            check:false,
                            ...item
                        })
                    }
                },
                //操作购物车
                operCart(type,item){
                    let { cartList } = this;
                    let dis = 1; 
                    if(type==='reduce'){
                        dis = -1;
                    }
                    let findIndex = cartList.findIndex(fItem=>fItem.id === item.id)
                    if(findIndex > -1){
                        cartList[findIndex].count = cartList[findIndex].count+dis;
                        if(cartList[findIndex].count === 0){
                            cartList.splice(findIndex,1)
                        } 
                    }
                }
            }
        })
    </script>
</body>

</html>